body{
    margin: 0;
    padding: 0;
    background-color: azure;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#message{
    font-size: 45px;
    font-weight: bold;
    margin: 200px 0;
}

#speed{
    margin-left: 10px;
}

span{
    font-weight: bold;
}